{
    "url": "https://forum.corinthian.local",
    "secret": "corinthian-super-secret-key-123",
    "database": "redis",
    "redis": {
        "host": "nodebb-db",
        "port": "6379",
        "password": "",
        "database": "0"
    },
    "oauth": {
        "id": "${SSO_FORUM_CLIENT_ID}",
        "secret": "${SSO_FORUM_CLIENT_SECRET}"
    }
}